.background {
    background-color: #386dd6;
    max-width: 100%;
    max-height: 100%;
}

.header {
    background-color: white;
}

.feed {
    background-color: white;
    width: 50vw;
    height: 100vw;
    position: relative;
    overflow: hidden;
    margin: 0% 25% 25%;
}

.post {
    width: 40vw;
    height: 50vw;
    position: relative;
    margin: 10% 10% 10%;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.SearchSubmit {
    position: center;
    color: whitesmoke;
    background-color: #3d3da4;
    border-radius: 5px;
    padding: 10px 35px;
}

.search {
    padding: 6px;
    border: none;
    text-align: center;
}

.search input {
    height: 30px;
    width: 300px;
}

.account {
    text-align: right;
}

#pic {
    height: 3%;
    width: 3%;
    float: right;
}

#pic2 {
    height: 3%;
    width: 4%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#postPic {
    height: 50%;
    width: 100%;
    position: relative;
}

#kuupäev {
    float: right;
    margin-right: 3%;
    margin-top: 2%;
    color: #4f4f4f;
}

#stickynote {
    float: left;
    height: 3%;
    width: 3%;
}

#title {
}