.background {
    background-color: #1677bd;
    max-width: 100%;
    max-height: 100%;
}

.header {
    position: relative;
    background-color: white;
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
}

.feed {
    background-color: white;
    width: 50vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 25% 25%;
}

.post {
    width: 40vw;
    height: auto;
    position: relative;
    margin: 10% 10% 10%;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.SearchSubmit {
    position: center;
    color: whitesmoke;
    background-color: #0d579b;
    border-radius: 5px;
    padding: 10px 35px;
}

.a3 img {
    width: 3%;
    border-radius: 10px;
    margin-top: 0.5%;
    margin-right: 1%;
}

.search {
    padding: 5px;
    border: none;
    text-align: center;
}

.search input {
    height: 30px;
    width: 300px;
}

.account {
    text-align: right;
}

#pic {
    height: 3%;
    width: 3%;
    float: right;
    margin-top: -3px;
}

#pic2 {
    height: 3%;
    width: 4%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#postPic {
    max-width: 100%;
    max-height: 100%;
}

#kuupäev {
    float: right;
    margin-right: 3%;
    margin-top: 2%;
    color: #4f4f4f;
}

#stickynote {
    float: left;
    height: 3%;
    width: 3%;
    margin-top: -3px;
}

#title {
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: 10px;
    margin-top: 7%;
}

#like {
    height: 30px;
    width: 40px;
    border-radius: 3px;
}

.likeButton {
    float: left;
    margin-left: 2%;
    margin-top: 10%;
    margin-bottom: 2%;
}