#background {
    background-color: #1E90FF;
    height: 100%;
    width: 100%;
}

#loginbox {
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    position: relative;
    background-color: white;
    height: 500px;
    width: 30%;
    margin: 10% auto 50%;
}