#background {
    background-color: aqua;
    height: 100%;
    width: 100%;
}

#loginbox {
    position: relative;
    background-color: white;
    height: 500px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50%;
    margin-top:10%;
}